$colorBlue: #2F68DB;
$colorRed: #DB1C00;
$colorYellow: #E5D800;
$colorGreen: #4AC906;
$colorGrey: #EEEEEE;

body {
  font-family: serif;
}

.google-title {
  background-color: white;
  margin: auto;
  text-align: center;
  margin-bottom: 25px;

:nth-child(3n+1) {
    color: $colorBlue;
  }
:nth-child(4n+2) {
    color:$colorRed;
  }

:nth-child(3) {
    color:$colorYellow;
  }

:nth-child(5) {
    color:$colorGreen;
  }

}

.title-letters {
  font-size: 100px;
  font-weight: bold;
  margin-left: 5px;
  text-shadow: 5px 5px 15px #C8C8C6, 5px 5px 15px black;
  background-clip: text;
}

.search-elements {
    background-color: $colorGrey;
    padding: 5px 0px 5px 0px;

  h3 {
      font-weight: lighter;
      text-align: center;
      margin: 0px;
  &:last-child {
  font-style: italic;
    }
  }
}

.search-line {
  display: block;
  margin: auto;
  margin-top: 1px;
  width: 360px;
  height: 20px
}

.search-buttons {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  height: 25px;

  *:not(:first-child) {
    margin-left: 10px;
    height: 25px;
    width: 150px;
  }

}
